/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require MyFontsWebfontsKit.css
 */

body{
	font-family: "SackersGothicStd-Medium" "Helvetica", "Arial", sans-serif;
	text-transform: lowercase;
	color: #000;
	font-size: 14px;
}

.numbers{
	font-size: .9em;
}

.color{
	color: #a9c9b7;
}

.linkpadding{
	padding: 10px;
}

.paddingspan{
	padding: 20px;
}

#container{
	width: 980px;
 	margin: 0 auto;
 	padding: 0;
 	background-color: #fff;
}

.clear{
	clear: both;
}

#header{
	width: 980px;
	padding: 0;
	margin: 40px 0;
	text-align: center;
}

div.biggerfont{
	font-size: 1.1em;
}

/* --links-- */

a:link{
	text-decoration: none;
	color: #000;
}

a:visited{
	color: #000;
}

a:hover{
	color: #ccc;
}

a.colorlink:link{
	text-decoration: none;
	color: #a9c9b7;
}

a.colorlink:visited{
	color: #a9c9b7;
}

a.colorlink:hover{
	color: #ccc;
}

/* --head-- */

h1{
	height: 30px;
	padding: 0;
	margin: 0 auto 30px;
	letter-spacing: .1em;
	font-size: 2.1em;
}

h1 a:link{
 	text-decoration: none;
 	color: #a9c9b7;
}

h1 a:visited{
 	color: #a9c9b7;
}

h1 a:hover{
 	color: #a9c9b7;
 	cursor: pointer;
}

#menu_icon{
	display: none;
}

/* --headers-- */

h2{
	font-size: 1.5em;
}

h3{
	font-size: 1.3em;
}

h4{
	font-size: 1.1em;
}

 /* --navigation menu-- */

#nav{
	width: 980px;
 	height: 30px;
	margin: 0 auto;
	padding: 0;
	line-height: 24px;
}

ul#menu ul{
	display: none;
}

ul#menu li:hover > ul{
	display: block;
}

ul#menu{
	list-style: none;
	margin: 0;
	padding: 0 20px;
	position: relative;
	display: inline-table;
}

ul#menu:after{
	content: "";
	clear: both;
	display: block;
}

ul#menu li.menu_item{
 	float: left;
}

ul#menu li:hover a{
	color: #ccc;
	background: #fff;
}

ul#menu li a{
	display: block;
	padding: 0 20px;
	color: #000;
	text-decoration: none;
}

ul#menu ul{
	list-style: none;
	padding: 0;
	position: absolute;
	top: 100%;
}

ul#menu ul li{
	float: none;
	position: relative;
}

ul#menu ul li a{
	padding: 8px 40px;
	color: #000;
}

ul#menu ul li a:hover{
	color: #a9c9b7;
}

div#mobile_nav{
	display: none;
}

 /* --content-- */

#content{
	width: 900px;
	margin: 40px 40px 0 40px;
	padding: 0;
}

.flash{
	color: #ccc;
	padding: 0 0 10px 0;
	letter-spacing: .1em;
	font-size: 1.1em;
}

.colone{
	width: 450px;
	margin: 0;
	padding: 0 0 0 50px;
	float: left;
}

.coltwo{
	width: 400px;
	margin: 0;
	padding: 20px 0 0 0;
	float: left;
}

/* --footer-- */

#footer{
	height: 30px;
	margin: 40px 0;
	padding: 0;
	width: 980px;
}

#left{
	margin-left: 70px;
	float: left;
	width: 420px;
}

#right{
	margin-right: 70px;
	float: right;
	width: 420px;
	text-align: right;
}

ul#left_foot_menu{
	display: none;
}

/* --forms--- */

 div#formdiv{
	line-height: 160%;
}

input[type="date"]{
   font-family: inherit;
   font-size: inherit;
   color: #ccc;
   width: 250px;
}

input[type="text"]{
   font-family: inherit;
   font-size: inherit;
   color: #ccc;
   width: 250px;
}

input[type="password"]{
   font-family: inherit;
   font-size: inherit;
   color: #ccc;
   width: 250px;
}

textarea{
   font-family: inherit;
   font-size: inherit;
   color: #ccc;
   width: 250px;
   height: 150px;
}

.submit{
	font-size: .9em;
	font-family: inherit;
	text-transform: lowercase;
	background-color: #ffffff;
	border: 1px solid #ccc;
	letter-spacing: .2em;
	margin: 10px 0;
}

input.submit:hover{
	cursor: pointer;
	color: #ccc;
	background-color: #f9f4f4;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

/* --error messages */

ul.errormessages{
	list-style: none;
}

ul.errormessages li{
	color: #ccc;
}

/* --images-- */

.smallproduct{
	height: 140px;
	margin: 0;
	padding: 0;
}

@media all and (max-width: 768px){

	body{
		font-size: 14px;
	}

	.linkpadding{
		padding: 10px;
	}

	#container{
		width: 660px;
	}

	#header{
		width: 660px;
		margin: 35px 0;
	}


	 /* --navigation menu-- */

	#nav{
		width: 660px;
	 	height: 30px;
		line-height: 24px;
	}

	ul#menu li.top_menu_item{
		display: none;
	}

	 /* --content-- */

	#content{
		width: 580px;
	}

	.colone{
		width: 300px;
		margin: 0;
		padding: 0 30px 0 0;
		float: left;
	}

	.coltwo{
		width: 250px;
		margin: 0;
		padding: 20px 0 0 0;
		float: left;
	}

	/* --footer-- */

	#footer{
		width: 660px;
	}

	#left{
		margin: 0;
		width: 400px;
	}

	#right{
		margin: 0;
		width: 260px;
	}

	ul#left_foot_menu{
		display: inherit;
	}

	ul#left_foot_menu{
		list-style: none;
		margin: 0;
		padding: 0 20px;
	}

	ul#left_foot_menu li.foot_menu_item{
		display: inline;
		padding: 0 10px;
	}

}

@media all and (max-width: 480px){
	
	body{
		font-size: 11px;
	}

	.linkpadding{
		padding: 10px;
	}

	#container{
		width: 310px;
	}

	/*--header--*/

	#header{
		width: 310px;
		margin: 10px 0;
	}
	
	h1{
		height: 20px;
		padding: 0;
		margin: 0 30px 0 0;
		font-size: 1.6em;
		display: inline-block;
		vertical-align: top;
	}

	#menu_icon{
		display: inline-block;
		height: 18px;
		margin-top: 4px;
	}

	#menu_icon:hover{
		cursor: pointer;
		opacity: .6;
	}

	/* --headers-- */

	h2{
		font-size: 1.4em;
	}

	h3{
		font-size: 1.2em;
	}

	h4{
		font-size: 1.1em;
	}

	 /* --navigation menu-- */

	#nav{
		display: none;
	}

	hr{
		color: #fff;
		background-color: #fff;
		border-color: #fff;
	}

	div#mobile_nav{
		display: none;
		position: absolute;
		background-color: #a9c9b7;
		padding: 7px 0;
		width: 310px;
		z-index: 90;
	}

	ul#mobile_menu{
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: left;
	}

	ul#mobile_menu li.mobile_menu_item a{
		font-size: 1.5em;
		padding: 10px 0 10px 10px;
		color: #fff;
	}

	ul#mobile_menu li.mobile_menu_item a:hover{
		color: #ccc;
	}

	ul#mobile_menu li.mobile_menu_item ul{
		padding: 0 20px;
	}

	ul#mobile_menu li.mobile_menu_item ul li{
		display: block;
		padding: 5px 0;
	}

	 /* --content-- */

	#content{
		width: 310px;
		margin: 30px 0 0 0;
		padding: 0;
	}

	.colone{
		width: 310px;
		margin: 0;
		padding: 0;
		display: block;
	}

	.coltwo{
		width: 310px;
		margin: 0;
		padding: 20px 0 0 0;
		display: block;
	}

	/* --footer-- */

	#footer{
		width: 310px;
	}

	#left{
		display: none;
	}

	#right{
		margin: 0;
		padding: 0;
		width: 310px;
		text-align: left;
	}

	/* --forms--- */

	input[type="date"]{
	   width: 200px;
	}

	input[type="text"]{
	   width: 200px;
	}

	input[type="password"]{
	   width: 200px;
	}

	textarea{
	   width: 200px;
	   height: 120px;
	}

	/* --images-- */

	.smallproduct{
		height: 140px;
		margin: 0;
		padding: 0;
	}

	/*--links--*/

	.link_list{
		display: block;
		padding: 0;
		margin: 5px 0;
	}
}





