div#productshow{
	width: 450px;
	margin: 0 50px 0 0;
	padding: 0;
	float: left;
}

div#productimg{
	width: 400px;
	height: 400px;
	overflow: hidden;
	margin: 50px 0 0 0;
	padding: 0;
	float: left;
}

img.productsquare{
	width: 350px;
	padding: 0 0 0 50px;
}

img.smallstrip{
	height: 150px;
	margin: 0;
	padding: 0;
}
