button#signup{
	width: 115px;
	height: 115px;
	border-radius: 100%;
	background-color: #a9c9b7;
	font-family: inherit;
	text-transform: lowercase;
	font-size: 1.2em;
	letter-spacing: .1em;
	font-weight: bold;
	font-weight: normal;
	text-decoration: none;
	color: #fff;
	padding: 0;
	border: none;
}

button#signup:hover{
	background-color: #cfe3db;
	cursor: pointer;
}

button#signup:visited{
	color: #fff;
}

button#signup:active{
	background-color: #cfe3db;
}

button#signup:active{
	background-color: #cfe3db;
	color: #fff;
}

.homeimg{
	width: 600px;
	margin: 10px 150px;
}

@media all and (max-width: 768px){
	.homeimg{
		width: 500px;
		margin: 10px 40px;
	}
}

@media all and (max-width: 480px){
	button#signup{
		width: 70px;
		height: 70px;
		font-size: 1em;
	}

	.homeimg{
		width: 310px;
		margin: 0;
	}
}
